# Created by venv; see https://docs.python.org/3/library/venv.html

# Entornos virtuales
myenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Caché y archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# La base de datos incluida.
!db.sqlite3